

.form-group {
  margin-bottom: 15px;
}

.label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: blue;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: #0052cc;
  box-shadow: 0 0 0 2px rgba(0, 82, 204, 0.2);
}

.form-group input {
  margin: 0;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #5778ff;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input:invalid {
  border-color: #dc3545;
}

.input {
  background: none;
  border: none;
  font-size: 20px;
  /* cursor: pointer; */
  color: #666;
}

.error {
  border: 1px solid red;
}

.error-message {
  font-size: 0.5rem;
  color: red;
}
